<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 설정 -->
<configuration>
	<typeAliases>
		<typeAlias type="com.jeju.app.pages.Pager" alias="Pager"/>
		<typeAlias type="com.jeju.app.pages.PB_Pager" alias="PB_Pager"/>
		<typeAlias type="com.jeju.app.boards.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.jeju.app.publicBoards.PB_DTO" alias="PB_DTO"/>
		<typeAlias type="com.jeju.app.publicBoards.notice.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.jeju.app.publicBoards.qna.QnaDTO" alias="QnaDTO"/>
		<typeAlias type="com.jeju.app.boards.BoardFileDTO" alias="BoardFileDTO"/>
		<typeAlias type="com.jeju.app.apis.ApiItemDTO" alias="ApiItemDTO"/>
		<typeAlias type="com.jeju.app.flights.FlightDTO" alias="FlightDTO"/>
		<typeAlias type="com.jeju.app.reservs.SearchDTO" alias="SearchDTO"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.util.Map" alias="Map"/>
	</typeAliases>
</configuration>