<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis 설정 -->
<configuration>
	<typeAliases>
		<typeAlias type="com.jeju.app.boards.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.jeju.app.apis.ApiItemDTO" alias="ApiItemDTO"/>
		<typeAlias type="java.util.List" alias="List"/>
	</typeAliases>
</configuration>