<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jeju.app.flights.FlightDAO">

	<select id="getList" parameterType="Map" resultType="FlightDTO">
		SELECT * FROM FLIGHTSUPDATE F
		JOIN AIRPORT A
		ON F.DEPAIRPORTNM = A.AIRPORTNM
		JOIN AIRPORT A2
		ON F.ARRAIRPORTNM = A2.AIRPORTNM
		WHERE DEPPLANDTIME > TO_DATE(#{today}, 'YYYYMMDDHH24MI')
		AND DEPPLANDTIME BETWEEN TO_DATE(#{depPlandTime}, 'YYYY-MM-DD') AND TO_DATE(#{depPlandTime}, 'YYYY-MM-DD')+0.99999
		AND A.AIRPORTID = #{depAirportId}
		AND A2.AIRPORTID = #{arrAirportId}
		AND F.ECONOMYCHARGE > 0
		ORDER BY DEPPLANDTIME ASC
	</select>
	
	<select id="getListByAirline" parameterType="Map" resultType="FlightDTO">
		SELECT * FROM FLIGHTSUPDATE F
		JOIN AIRPORT A
		ON F.DEPAIRPORTNM = A.AIRPORTNM
		JOIN AIRPORT A2
		ON F.ARRAIRPORTNM = A2.AIRPORTNM
		JOIN AIRLINE L
		ON F.AIRLINENM = L.AIRLINENM
		WHERE DEPPLANDTIME > TO_DATE(#{today}, 'YYYYMMDDHH24MI')
		AND DEPPLANDTIME BETWEEN TO_DATE(#{depPlandTime}, 'YYYY-MM-DD') AND TO_DATE(#{depPlandTime}, 'YYYY-MM-DD')+0.99999
		AND A.AIRPORTID = #{depAirportId}
		AND A2.AIRPORTID = #{arrAirportId}
		AND L.AIRLINEID = #{airlineId}
		AND F.ECONOMYCHARGE > 0
		ORDER BY DEPPLANDTIME ASC
	</select>

</mapper>