<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jeju.app.reservs.ReservDAO">

	<select id="getDetail" parameterType="SearchDTO" resultType="FlightDTO">
		SELECT * FROM FLIGHTSUPDATE WHERE FLIGHTNUM IN (#{flightNumGo}, #{flightNumCome})
	</select>
	
	<select id="getPrestigeCharge" parameterType="FlightDTO" resultType="FlightDTO">
		SELECT ECONOMYCHARGE, PRESTIGECHARGE FROM FLIGHTSUPDATE WHERE FLIGHTNUM = #{flightNum}
	</select>
	
	<select id="userCheck" parameterType="UserDTO" resultType="UserDTO">
		SELECT * FROM USERS WHERE USERID = #{userID} AND EMAIL = #{email} AND PHONE = #{phone}
	</select>
	
	<select id="flightsCheck" parameterType="FlightDTO" resultType="FlightDTO">
		SELECT * FROM FLIGHT WHERE FLIGHTNUM = #{flightNum}
	</select>
	
	<insert id="flightsUpdate" parameterType="FlightDTO">
		INSERT INTO FLIGHT VALUES (#{flightNum}, #{vihicleId}, #{airlineNm}, TO_DATE(#{depPlandTime}, 'YYYY-MM-DD HH24:MI:SS'), TO_DATE(#{arrPlandTime}, 'YYYY-MM-DD HH24:MI:SS'), #{depAirportNm}, #{arrAirportNm}, #{economyCharge}, #{prestigeCharge})
	</insert>
	
	<select id="getFlight" parameterType="FlightDTO" resultType="FlightDTO">
		SELECT * FROM FLIGHTSUPDATE WHERE FLIGHTNUM = #{flightNum}
	</select>
	
	<insert id="reservate" parameterType="ReservDTO">
		INSERT INTO RESERVATIONS VALUES (#{reservNum}, #{userId}, #{payment}, #{amount})
	</insert>
	
	<insert id="addBoarderList" parameterType="List">
		INSERT ALL
			<foreach collection="list" item="BoardingInfo">
				INTO BOARDINGINFO
				VALUES (#{BoardingInfo.name}, #{BoardingInfo.birth}, #{BoardingInfo.reservNum}, #{BoardingInfo.div}, #{BoardingInfo.fNumGo}, #{BoardingInfo.fNumCome}, #{BoardingInfo.chargeDiv})
			</foreach>
		SELECT * FROM DUAL
	</insert>
	
	<select id="getReservationsList" parameterType="UserDTO" resultType="ReservDTO">
		SELECT DISTINCT RESERVNUM, FNUMGO, FNUMCOME, CHARGEDIV, PAYMENT, AMOUNT
		FROM RESERVATIONS R
		JOIN BOARDINGINFO B
		USING (RESERVNUM)
		WHERE USERID = #{userID}
	</select>
	
	<select id="getFlightGo" parameterType="ReservDTO" resultType="FlightDTO">
		SELECT DISTINCT FLIGHTNUM, VIHICLEID, AIRLINENM, DEPPLANDTIME, ARRPLANDTIME, DEPAIRPORTNM, ARRAIRPORTNM, ECONOMYCHARGE, PRESTIGECHARGE
		FROM FLIGHT F
		JOIN BOARDINGINFO B
		ON B.FNUMGO = F.FLIGHTNUM
		WHERE B.RESERVNUM = #{reservNum}
	</select>
	
	<select id="getBoardingInfo" parameterType="ReservDTO" resultType="BoardingInfo">
		SELECT NAME, BIRTH, DIV
		FROM BOARDINGINFO
		WHERE RESERVNUM = #{reservNum}
	</select>
	
	<select id="getFlightCome" parameterType="ReservDTO" resultType="FlightDTO">
		SELECT DISTINCT FLIGHTNUM, VIHICLEID, AIRLINENM, DEPPLANDTIME, ARRPLANDTIME, DEPAIRPORTNM, ARRAIRPORTNM, ECONOMYCHARGE, PRESTIGECHARGE
		FROM FLIGHT F
		JOIN BOARDINGINFO B
		ON B.FNUMCOME  = F.FLIGHTNUM
		WHERE B.RESERVNUM = #{reservNum}
	</select>

</mapper>