<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.jeju.app.users.UserDAO">

    <!-- 사용자 로그인 -->
    <select id="login" parameterType="UserDTO" resultType="UserDTO">
        SELECT * FROM USERS
        WHERE userId = #{userID} AND password = #{password}
    </select>

    <!-- 사용자 회원가입 -->
    <insert id="join" parameterType="UserDTO">
        INSERT INTO users (userID, password, name, phone, email)
        VALUES (#{userID}, #{password}, #{name}, #{phone}, #{email})
    </insert>

<update id="emailUpdate" parameterType="UserDTO">
    UPDATE users
    SET email = #{email}
    WHERE userID = #{userID}
</update>

<update id="phoneUpdate" parameterType="UserDTO">
    UPDATE users
    SET phone = #{phone}
    WHERE userID = #{userID}
</update>

<update id="pwUpdate" parameterType="UserDTO">
    UPDATE users
    SET password = #{password}
    WHERE userID = #{userID}
</update>

    <!-- 사용자 상세 정보 조회 -->
    <select id="getDetail" parameterType="UserDTO" resultType="UserDTO">
        SELECT * FROM users
        WHERE userID = #{userID}
    </select>
    
        <!-- resultMap 정의 -->
    <resultMap id="getDetailResult" type="UserDTO">
        <id column="USERID" property="userID"/>
        <result column="PASSWORD" property="password"/>
        <result column="NAME" property="name"/>
        <result column="PHONE" property="phone"/>
        <result column="EMAIL" property="email"/>
    </resultMap>

    <!-- 회원탈퇴 -->
    <delete id="userDelete" parameterType="UserDTO">
        DELETE FROM users
        WHERE userID = #{userID}
    </delete>
    
    <select id="countByUserId" parameterType="UserDTO" resultType="Long">
    SELECT COUNT(*) FROM USERS WHERE USERID = #{userID}
</select>

    


</mapper>